body
{
  text-align: left;
  height: auto;
  width: 60%;
  padding: 5px;
  margin: auto;
}

a
{
    color:  #888888;
}

.box
{
    margin: 10px;
    border: dotted;
}

.box2
{
    margin: 15px;
}

.right
{
    text-align: right;
}

#image
{
    width:  64px;
    height: 64px;
}